section {
  margin: 32px;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 74px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 50vw;
}

div {
  line-height: 200px;
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
