* {
  box-sizing: border-box;
}

table {
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
  
  
}


tr {
  height: 50px;
}
td {
  width: 50px;
  
  
  text-align: center;
  
}
tr:nth-child(2n+2)>td:nth-child(2n+3) {
  background-color: black;
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(2n+2)>td:nth-child(2n+2) {

  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}
tr:nth-child(2n+3)>td:nth-child(2n) {
  background-color: black;
  margin: 16px;
  border: 1px solid black;
  border-collapse: collapse;
}

tr:last-child > td {
  background-color: white !important;
  border-right: none !important;
  border-left: none !important;
}

tr> td:last-child  {
  background-color: white !important;
  border-top: none !important;
  border-bottom: none !important;
}
