.header {
    position: fixed;       
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    z-index:2        
   }

.navigation { 
             
    height: 40px;           
}

.nav-list { 
    line-height: 0px;
                          
   }

.nav-item {
     display:inline-block;
     margin-left: 16px;       
     color: white; 
          
}

.content {
   
    background-color: beige;
    height: 5000px;
   
}

.head {
    position: absolute;   
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    top:calc(50% - 100px);
    left:calc(50% - 100px);
    z-index:1;    
}

.ear {
    background-color: brown;
    height: 60px;
    width: 40px;   
  }

.ear_right {
    position: absolute;
    top: -60px;
    right: -40px;
}

.ear_left {
    position: absolute;
    top: -60px;
    left: -40px;
}

.eye {
    border-radius: 50%;
    background-color: grey;
    height: 30px;
    width: 30px;
}

.eye_right {
    position: absolute;
    top: 80px;
    right: 40px;
}

.eye_left {
    position: absolute;
    top: 80px;
    left: 40px;
}


