* {
  box-sizing: border-box;
}

  

header {
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 1;
}

.articles-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 1;
}
